body {
    background-color: deepskyblue;
    margin: 2px;
}

header {
    background-image: src="../images/cloudsbg.css"
}

.compname {
    font-size: 5px;
}

nav {
    font-size: 5px;
    text-align: center;
    background-color: burlywood;
    border: .5px solid #000000;

}

p {
    font-size: 5px;
    border: .5px solid #000000;

}

