/*

html *{
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
}

/*
@media only screen and (min-width: 415px){
    #page-header {
        width: 100%;
        text-align: center;
    }

    #page-nav {
        float: left;
        width: 30%;
        padding: 1em;
    }

    main {
        width: 40%;
        float: left;
        margin: 1em;
        padding: 1em;
    }

    #page-aside {
        float: left;
        width: 20%;
        padding: 1em;
    }

    #page-footer {
        clear: left;
    }
}
*/

/*
@media only screen and (min-width: 415px) {
    #wrapper {
    display: flex;
    flex-direction: column-reverse;
    }
}

*/

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#wrapper{
    display: flex;
    flex-direction: row;
}

.alignthis {
    display: flex;
    flex-direction: column;
    width: 20%;
}

main {
    display: flex;
    flex-direction: column;
    width: 50%
}

#page-aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: flex-start;
}


#page-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

/* #location {
margin-top: 0px;
}

.locate h3 {
margin-top: 0px;
}

.locate {
display: flex;
flex-direction: column;
width: 60%;
margin-top: 0px;
}
*/

